/*----------------------------------------------------------------------------------------------------------
-------------------------root-------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none;
}

html {
  background-color: rgb(248,249,250);
}

:root {
  font-size: 1.3vw; 
}

#root {
  background-color: rgb(248,249,250);
  font-size: 1.8rem;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*----------------------------------------------------------------------------------------------------------
-------------------------navigation-------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/
.container {
  margin: 0px auto;
  padding: 1rem 3rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.04rem solid rgb(190, 167, 167);
  background-color: white;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:active {
  color: black;
}

.nav-link-title {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.nav-button {
  border: 0.05rem solid rgb(190, 167, 167);;
  background-color: white;
  border-radius: 100%;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: #fff;
  padding: 0.5rem;
  min-width: 2rem;
  cursor: pointer;
}

.focus-button:hover {
  background-color: #fff;
  color: black;
  border-color: #0d6efd;
  transition: 0.8s;
}

.input-logOut {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
  line-height: 1.3;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: color .15s;
  border-radius: 0.3rem;
  cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------------
--------------------------------------------errorSocket-----------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/
.errorSocket {
  font-size: 20px;
}

/*----------------------------------------------------------------------------------------------------------
--------------------------------------------NotFound--------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/
.conteiner-body {
  padding: 0.5rem 5rem;
  height: 0 auto;
  background-color: rgb(248,249,250);
  text-align: center;
}


.titleNotFound {
  text-align: center;
  font-size: 2rem;
}

.textNotFound {
  text-align: center;
  font-size: 1.5rem;
}

.imageNotFound {
  width: 25rem;
  vertical-align: center;
  box-sizing: border-box;
  text-align: center;
  height: 0 auto;
};
